@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
  font-family: 'Montserrat-MediumItalic';
  font-style: italic;
  font-weight: 500;
  src: url('./assets/fonts/Montserrat-MediumItalic.ttf');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Montserrat-Bold.ttf');
}

@font-face {
  font-family: 'Montserrat-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/Montserrat-ExtraBold.ttf');
}
